// Welcome to the Project.
// In this file you should write your main styles. (or centralize your imports)
// Import this file using the following HTML or equivalent:

//------------------------------------------------------------------------------
// Grid
@import '../../bower_components/susy/sass/susy';

//------------------------------------------------------------------------------
// Mixins & variables

@import 'base/utils/variables';
@import 'base/utils/mixins';
@import 'base/utils/animation';
@import 'base/utils/icons';

//------------------------------------------------------------------------------
// Vendor
@import 'vendor/reset';

//------------------------------------------------------------------------------
//Base
@import 'base/base';
@import 'base/layout';

//------------------------------------------------------------------------------
// Components
@import 'components/fonts';
@import 'components/employee';
@import 'components/tabs';
@import 'components/input-fields';

//------------------------------------------------------------------------------
// Partials
@import 'partials/sidebar';
@import 'partials/header';
@import 'partials/info-box';
//@import 'partials/wysiwyg';
@import 'partials/forms';
@import 'partials/mobile-menu';

//------------------------------------------------------------------------------
// Pages
@import 'pages/front';
@import 'pages/employeers';
@import 'pages/people-list';
