//------------------------------------------------------------------------------
// Info box

.info-box {
  padding: 20px;
  margin-bottom: 20px;

  @include susy-breakpoint(1280px, 24) {
    @include span(12);
    height: 235px;
    min-height: 235px;

    &:nth-child(2n) {
      @include last;
    }
  }

  // Theme
  @each $theme, $map in $themes {
    .#{$theme} & {
      background: map-get($map, $block-bg);
      box-shadow: 3px 3px 0 map-get($map, $block-divider);
    }
  }

  // Single User
  // Image
  .back,
  .user-pic {
    width: 32px;
    height: 32px;
    float: left;
    left: 0;
  }

  .flipper-container {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }

  .flipper {
    width: 32px;
    height: 32px;
    display: block;
  }

  .back {
    border-radius: 100%;
    overflow: hidden;
    @each $theme, $map in $themes {
      .#{$theme} & {
        background: map-get($map, $active-elements);
      }
    }

    &:before {
      left: 57%;
      top: 50%;
      border: solid transparent;
      content: '';
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(213, 38, 38, 0);
      border-left-color: #fff;
      border-width: 6px;
      margin-top: -6px;
    }

    &:after {
      content: '';
      width: 9px;
      height: 6px;
      background: #fff;
      display: block;
      position: absolute;
      top: 50%;
      left: 11px;
      margin-top: -3px;
    }
  }

  .user-name-date {
    display: inline-block;
    vertical-align: middle;
  }

  .till-date {
    @include font-size(12);
    color: #000;
  }

  .till-date,
  .user-name {
    display: block;
    line-height: 1.5;
  }

}

.employee {
  @include font-size(15);
  @extend %group;
  position: relative;
  line-height: 2;
  z-index: 10;

  margin-bottom: 5px;
  overflow: hidden;

  @include susy-breakpoint(580px) {
    display: inline-block;
    width: 50%;
  }
}

.employee-link {
  cursor: pointer;
  overflow: hidden;

  &:hover {
    .front { transform: rotateY(-180deg); }

    .back { transform: rotateY(0deg); }
  }
}

.info-box-headline {
  @extend %group;
  border-bottom: 1px solid;
  margin-bottom: 20px;
  position: relative;

  // Theme
  @each $theme, $map in $themes {
    .#{$theme} & {
      border-color: map-get($map, $block-divider);
    }
  }

  h1 {
    @include font-size(36);
    clear: both;

    @include susy-breakpoint(640px) {
      float: left;
    }
  }

  .counter {
    @include font-size(14);
    display: inline-block;
    width: 100%;
    text-align: right;
    margin-bottom: 15px;


    @include susy-breakpoint(640px) {
      width: auto;
      position: absolute;
      bottom: 9px;
      right: 0;
    }
  }
}
