// Styles for Modal window

.modal {
  background: rgba(221, 221, 221, .9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100002;

  // Theme
  @each $theme, $map in $themes {
    .#{$theme} & {
      background: rgba(map-get($map, $block-bg), .8);
    }
  }
}

.modal-title {
  @include font-size(22);
  padding: 15px 30px;
  font-weight: 600;
  color: #fff;
}

.modal-dialog {
  background: rgb(0, 0, 28);
  color: #fff;
  border-radius: 0 15px;
  max-width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 15px rgba(0, 0, 0, .5);
  width: 100%;
}

.modal-body {
  @include font-size(15);
  padding: 30px;
  line-height: 1.5;
}

.modal-footer {
  padding: 0 30px 30px;
}

.close-modal {
  @include font-size(14);
  border-radius: 3px;
  cursor: pointer;
  margin: 30px auto 0;
  display: block;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  transition: all ease .3s;
}

.modal-error { 
  background: $attention;

  .close-modal {
    background: #620d0d;

    &:hover {
      background: #4e1313;
    }
  }
}

.modal-warning { 
  background: $warning;
  color: #6f4f14;

  .close-modal {
    background: #a58828;

    &:hover {
      background: #6f4f14;
    }
  }
}

.modal-success { 
  background: $success;

  .close-modal {
    background: #0d622f;
    
    &:hover {
      background: #194b2d;
    }
  }
}
