.ng-hide-add-active {
  display: none !important;
}

.preloader {
  position: fixed;
  width: 42px;
  height: 42px;
  animation: preloader_6 5s infinite linear;
  left: 50%;
  top: 50%;
  z-index: 10;
  transform: rotate(-15deg);

  &:after,
  &:before {
    content: '';
  }

  span,
  span:after,
  &:after,
  &:before {
    width: 20px;
    height: 20px;
    position: absolute;
    background: #f00;
    display: block;
    border-radius: 100%;
    animation: preloader_element 1s infinite linear;
  }

  &:before {
    background: #4caf50;
  }

  &:after {
    left: 22px;
    background: #ff5722;
    animation-delay: .2s;
  }

  span {
    top: 22px;
    background: #e91e63;
    animation-delay: .4s;
  }

  span:nth-child(2) {
    content: '';
    top: 22px;
    left: 22px;
    background: #286b90;
    animation-delay: .6s;
  }
}

@keyframes preloader_element {
  0% { transform: scale(1); }

  50% { transform: scale(.5); }

  100% { transform: scale(1); }
}
