//------------------------------------------------------------------------------
// Header global

// Page title
.page-title {
  @include font-size(60);
  padding-top: 80px;
  border-bottom: 1px solid;
  margin-bottom: 50px;
  font-weight: 400;

  // Themes
  @each $theme, $map in $themes {
    .#{$theme} & {
      border-color: map-get($map, $header-divider);
    }
  }
}

// Date wrapper
.current-date-wrapper {
  @extend %group;
  float: right;
  padding-top: 20px;
  font-weight: 400;
  position: relative;
  z-index: 1;

  @include susy-breakpoint(1024px, 24){
    @include span(16 of 24);
    @include last;
    padding-top: 40px;
  }
}

// Date
.date {
  @include font-size(26);
  float: right;
  margin-right: 10px;

  @include susy-breakpoint(768px, 24) {
    @include font-size(36);
  }
}

// Theme switcher
.theme-switcher {
  width: 50px;
  border: 1px solid;
  height: 27px;
  position: relative;
  border-radius: 30px;
  cursor: pointer;
  float: right;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .5) inset;

  @include susy-breakpoint(768px, 24) {
    top: 5px;
  }

  &:hover::before {
    background-color: transparent;
    transform: scale(1.6);
    opacity: 1;
  }

  &::before {
    position: absolute;
    top: -10%;
    left: 0;
    width: 100%;
    height: 120%;
    border-radius: 30px;
    background-color: rgba(100, 100, 100, 1);
    content: '';
    opacity: 0;
    transition: transform .15s, opacity .15s, background-color .15s;
    transform: scale(1);
    z-index: -1;
  }

  // Themes
  @each $theme, $map in $themes {
    .#{$theme} & {
      background: map-get($map, $switcher-bg);
      border-color: map-get($map, $switcher-border);
      color: map-get($map, $site-font-color);
    }
  }
}

.theme-switcher-btn {
  $size: 20px;
  height: $size;
  width: $size;
  border-radius: 100%;
  transition: left .1s ease-in-out;

  // Position
  position: absolute;
  left: 25px;
  top: 3px;

  // Dark theme position
  .dark & {
    left: 3px;
  }

  // Theme
  @each $theme, $map in $themes {
    .#{$theme} & {
      background: map-get($map, $switcher-btn);
    }
  }
}
