//------------------------------------------------------------------------------
// Info box

.info-box {
  padding: 20px;
  min-height: 235px;
  margin-bottom: 20px;

  @include susy-breakpoint(1280px, 24) {
    @include span(12);
    height: 235px;
    &:nth-child(2n) {
      @include last;
    }
  }

  // Theme
  @each $theme, $map in $themes {
    .#{$theme} & {
      background: map-get($map, $block-bg);
      box-shadow: 3px 3px 0 map-get($map, $block-divider);
    }
  }

  // Single User
  // Image
  .user-pic {
    width: 32px;
    height: 32px;
    margin-right: 5px;
    float: left;
    left: 0;
    transition: all .3s ease-in-out;
  }

}

.employee {
  @include font-size(15);
  @extend %group;
  position: relative;
  line-height: 2;
  z-index: 10;
  display: block;
  margin-bottom: 5px;
  overflow: hidden;
}

.employee-link {
  overflow: hidden;

}

.employee-columns {
  .col {

    @include susy-breakpoint(768px, 24) {
      width: 33.33%;
      float: left;
    }
  }
}

.info-box-headline {
  @extend %group;
  border-bottom: 1px solid;
  margin-bottom: 20px;
  position: relative;

  // Theme
  @each $theme, $map in $themes {
    .#{$theme} & {
      border-color: map-get($map, $block-divider);
    }
  }

  h1 {
    @include font-size(36);
    float: left;
  }

  .counter {
    @include font-size(14);
    position: absolute;
    bottom: 9px;
    right: 0;
    display: inline-block;
  }
}
