<div class="page-container dashboard">
  <h1 class="page-title">Dashboard</h1>

  <div class="page-content" ng-controller="dashboardController">

    <div class="today-birthdays" ng-if="birthDaysToday.length > 0" ng-cloak>
      <h3>Today birthday! </h3>
      <ul>
        <li ng-repeat="user in birthDaysToday">

        <span class="user-pic">
                      <img ng-src="{{user.user_picture[0].url}}"
                           err-SRC="images/anonymus.png"
                           alt="{{user.field_last_name[0].value}}"
                           width="130"
                           height="130"/>
                    </span>
          <span class="birthday-ribbon"></span>
           <span class="user-name">
                  {{user.field_first_name[0].value}}
                  {{user.field_last_name[0].value}}
                </span>
        </li>
      </ul>
    </div>

    <article class="checked-in-users-list" ng-cloak>
      <h2>Checked in
        <span class="refresh-list">
          <span class="refresh-title">Refresh list</span>
            <button update-status class="update-checkin font-icon icon-arrows-cw"></button>
          </span>
      </h2>

      <span class="no-logged-users" ng-if="checkedInUserList.length == 0">
        There are no checked in users yet
      </span>


      <ul ng-if="checkedInUserList.length != 0">
        <li ng-repeat="user in checkedInUserList" class="checked-user" ng-class="user.field_presence_status">
          <a ng-href="#user/{{user.uid}}" class="employee-link">
          <span class="user-pic">
          <img ng-src="{{user.field_image}}"
               err-SRC="images/anonymus.png"
               alt="{{user.field_first_name}} {{user.field_last_name}}"
               title="{{user.field_first_name}} {{user.field_last_name}}"
               width="32"
               height="32"/>
          </span>
            <span class="check-in-time">
              {{user.time * 1000 | date:'h:mma'}}
            </span>
          </a>
        </li>
      </ul>
    </article>

    <article class="available-users">
      <h2>Not checked in</h2>

      <div class="av-users-count" ng-cloak>
        {{checkedOutUserCount + ' employee' | plural}}
      </div>

      <ul ng-if="checkedOutUserList.length != 0">
        <li ng-repeat="users in checkedOutUserList" class="av-user">
          <a href="#user/{{users.uid}}" class="employee-link">
            <span class="flipper-container">
              <span class="flipper">
              <span class="front">
                <span class="user-pic">
                  <img ng-src="{{users.field_image}}"
                       err-SRC="images/anonymus.png"
                       alt="{{users.field_last_name}}"
                       title="{{users.field_last_name}}"
                       width="32"
                       height="32"/>
                  </span>
                </span>
              <span class="back"></span>
                </span>
              <span class="user-name">{{users.field_last_name}}</span>
              </span>
          </a>
        </li>
      </ul>
      <span class="no-logged-users" ng-if="checkedOutUserList.length == 0">
        All the employees have been checked in.
      </span>

    </article>

    <h2>Absent employees</h2>
    <article class="boxes-wrapper group">
      <div class="info-box" ng-repeat="(key, user) in states">
        <div class="info-box-headline">
          <div class="counter">
            {{user.count + ' employee' | plural }}
          </div>
          <h1>{{key}}</h1>
        </div>

        <div class="employee-columns">
          <div class="employee" ng-repeat="(employee_key, employee) in user "
               ng-if='employee_key != "count"'>
            <a href="#user/{{employee.uid[0].value}}" class="employee-link">
              <span class="flipper-container">
                <span class="flipper">
                  <span class="front">
                    <span class="user-pic">
                      <img ng-src="{{employee.user_picture[0].url}}"
                           err-SRC="images/anonymus.png"
                           alt="{{employee.field_first_name[0].value}} {{employee.field_last_name[0].value}}"
                           width="32"
                           height="32"/>
                    </span>
                  </span>
                  <span class="back"></span>
                  </span>
                </span>
              <span class="user-name-date">
                <span class="user-name">
                  {{employee.field_first_name[0].value}} {{employee.field_last_name[0].value}}
                </span>

                <span class="till-date" ng-if="employee.vacationTillDate">Till: {{employee.vacationTillDate | date:'dd MMM' }}</span>
                <span class="till-date"
                      ng-if="employee.tripTillDate">Till: {{employee.tripTillDate | date:'dd MMM' }}</span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </article>


    <h2>Birthdays in this month</h2>
    <div class="users-birthdays group">
      <ul>
        <li ng-repeat="user in birthDaysInCurrentMonth">
           <span class="user-pic">
                      <img ng-src="{{user.user_picture[0].url}}"
                           err-SRC="images/anonymus.png"
                           alt="{{user.field_first_name[0].value}} {{user.field_last_name[0].value}}"
                           width="100"
                           height="100"/>
                    </span>
           <span class="user-name">
                  {{user.field_first_name[0].value}} {{user.field_last_name[0].value}}
                </span>
        </li>
      </ul>
    </div>


  </div>
</div>