<div class="page-container">
  <h1 class="page-title">Documents</h1>


  <article class="document content-body">
    <h1 class="doc-title">Office Policy</h1>

    <h2>Рабочий график.</h2>

    <p>
      В компании FFW предусмотрена 40-ка часовая рабоча неделя: пять рабочих дней в неделю (пн-пт). Начало рабочего дня
      – 10:00. Окончание – 19:00. Обеденный перерыв – 1 час в течении дня.
      <br/>
      Раннее\позднее начало\окончание рабочего дня возможно при предварительном согласовании со своим менеджером.
      Выходные: суббота, воскресенье. <br/>
      В случае необходимости работы в выходные дни, необходимо предварительно соглосовать работу офиса в выходные дни.
    </p>

    <h2>Отпуск. Государственные праздники. Отгулы. Овертайм.</h2>

    <ol>
      <li>
        <strong>Отпуск.</strong> <br/>

        <p>Ежегодный отпуск предоставляется сотрудникам в количестве 20 рабочих дней в год, который отсчитывается со дня
          выхода на работу. Право сотрудника на ежегодный основной отпуск полной продолжительности в первый год работы
          наступает по окончании шести месяцев непрерывной работы в компании. Очередность предоставления отпусков
          определяется утверждаемыми графиками. </p>

        <p>Порядок оформления отпуска для сотрудников FFW:</p>
        <ul>
          <li>Соглосовать с менеджментом (ТЛ, ПМ, СЕО...) даты начала и окончания отпуска не позднее чем за один месяц
            до начала желаемого отпуска.
          </li>
          <li>Уведомить о соглосованых датах ответсвенные лица ( письмо с указаниям дат на ПМ, Сорокин Сергей, Жидких
            Марина)
          </li>
          <li>Даты желаемого отпуска считаются утвержденными после получения апрува от Сорокина Сергея</li>
        </ul>

        <p>При планировании отпуска просьба учитывать уже утвержденный график отпусков в командах</p>
        <ul>
          <li>Разработчикам необходимо учитывать график отпусков других разработчиков в команде.</li>
          <li>ПМ и ТЛ одной команды не могут брать отпуск одновременно.</li>
          <li>Пересечении отпусков в рамках одной команды для сотрудников разных специальностей допускаеться в размере
            не более 2 дней.
          </li>
        </ul>

        <p>Рекомендуется делить ежегодный отпуск на 2+1+1 недели. Праздничные и нерабочие дни при определении
          продолжительности ежегодных отпусков не учитываются.</p>

        <h3>ВНИМАНИЕ:</h3>
        <ol>
          <li>По окончанию календарного года (31 декабря) неиспользованые отпускные дни не переносятьс я и не
            выплачиаются. В связи с чем, планируйте свой отпуск в течении года.
          </li>
          <li>В случае разрыва договора какой-либо из сторон неиспользованые отпускные дни не компенсируются</li>
        </ol>
      </li>

      <li>
        <strong>  Отгулы (отпуск без сохранения заработной платы).</strong>  <br/>

        <p>По семейным обстоятельствам и по другим причинам работнику может предоставляться отпуск без сохранения
          заработной платы, но не более 15 календарных дней в год. Отгул может быть компенсирован отработкой в нерабочий
          или праздничный день либо зачисляться в счет отпуска. Неотработанные отгулы пересчитываются в денежное
          выражение для каждого сотрудника в соответствии с его зарплатой и вычитаются из последней зарплаты текущего
          года,в случае увольнения – при расчете сотрудника.</p>

        <p>Для оформления отгула необходимо выслать письмо с датой отгула на ПМ, офис менеджера (Марина Жидких) и СЕО
          (Сергей Сорокин).</p>
      </li>

      <li>
        <strong> Больничный.</strong>  <br/>

        <p>
          Сотрудниками компании FFW в случае болезни предоставляеться оплачиваемый больничный. Если лечение длится менее
          10 рабочих дней предоставление официального больничного листа – НЕОБЯЗАТЕЛЬНОЕ, при пребывании на больничном
          свыше указаного срока, сотрудник обязан предьевить больничный лист.
        </p>

        <p>
          Просьба в первый день больничного проинформировать своего ПМ и офис менеджера о вашем отсутсвии на рабочем
          месте по причине болезни.
        </p>
      </li>

      <li>
        <strong> Государственные праздники\выходные.</strong>  <br/>

        <p>Всем сотрудникам FFW в дни официальных госудасртвенных прадников предоставляеться оплачиваемы выходные, не
          требующий отработки в дальнейшем. О всех госудрственных выходных сотрудники будут предварительно
          проинформированы.</p>
      </li>

      <li>
        <strong> Овертаймы.</strong>  <br/>

        <p>Порядок компенсации переработаных рабочих часов оговариваеться индивидуально менеджером с каждым сотрудником.
          Компенсация представляет собой начисление дополнительных оплачиваемых дней отпуска в оговореном
          количестве. </p>

        <strong> Овертаймом не считаеться:</strong>
        <ul>
          <li>засиживание на работе до поздна</li>
          <li>выход по выходным</li>
          <li>выход по выходным</li>
          <li>работа во время отпуска</li>
        </ul>
        <span> в случае, если подобные переработки не были заранее заявлены как овертайм вашим менеджером.</span>
      </li>
    </ol>

    <h2>Сервисы и бенефиты.</h2>
    <ol>
      <li>
        <strong> Медицинская страховка.</strong>  <br/>

        <p>Каждому сотруднику по результатам успешного прохождения испытательного срока предоставляется медицинская
          страховка от страховой компании «Княжна». Покрытие страхового полиса, а так же правила использования страховки
          можно найти здесь (будет гиперссылка)</p>
      </li>

      <li>
        <strong> Обеды в офисе.</strong>  <br/>

        <p>Все сотрудники имеют возможность обедать в офисе. Плата за обед состовляет 30 грн в день.</br>

        Оплата взымается в конце каждого месяца с вычетом выходных, отпусков больничных и тд. Что бы воспользоваться
          услугой обедов в офисе необходимо сообщить офис менеджеру (Марине Жидких) о дате</p>
      </li>

      <li>
        <strong> Английский язык</strong>  <br/>

        <p>Всем сотрудникам компания FFW предоставляет возможность посещать занятия по английскому языку. Оплата за
          занятия покрываеться компанией в полном размере. Занятия проводятся в офисе в двух группах. Расписание, а
          также, преподаватели могут меняться, о чем ученики будут проинформированы за ранее. </p>
        <p>Для записи на занятия обратитесь к офис-менеджеру (Марине Жидких).</p>
      </li>
    </ol>

  </article>

</div>
