<div class="page-container">
  <h1 class="page-title">Dashboard</h1>

  <div class="page-content" ng-controller="MainCtrl">



    <div class="boxes-wrapper group">
      <article class="info-box" ng-repeat="(key, user) in states">
        <div class="info-box-headline">
          <div class="counter">
            {{user.count + ' employee' | plural }}
          </div>
          <h1>{{key}}</h1>
        </div>

        <div class="employee-columns">
          <div class="employee" ng-repeat="(employee_key, employee) in user "
              ng-if='employee_key != "count"'>

            <a href="#user/{{employee.uid[0].value}}" class="employee-link">
              <span class="flipper-container">
                <span class="flipper">
                  <span class="front">
                    <span class="user-pic">
                      <img ng-src="{{employee.field_user_image[0].value}}"
                          alt="{{employee.field_first_name[0].value}} {{employee.field_last_name[0].value}}"/>

                    </span>
                  </span>
                  <span class="back">

                  </span>
                  </span>
                </span>
            <span class="user-name">
              {{employee.field_first_name[0].value}} {{employee.field_last_name[0].value}}
            </span>

            </a>
          </div>
        </div>
      </article>
    </div>

    <article class="available-users"
        ng-repeat="(key, availableUser) in availableEmployees">

      <h2>{{availableUser.title}}</h2>

      <div class="av-users-count">
        {{availableUser.count + ' employee' | plural }}
      </div>

      <div class="av-user"
          ng-repeat="(avEmployee_key, avEmployee) in availableUser"
          ng-if='avEmployee_key != "count" && avEmployee_key != "title"'>

        <a href="#user/{{avEmployee.uid[0].value}}" class="employee-link">

                  <span class="user-pic">
                    <img ng-src="{{avEmployee.field_user_image[0].value}}"
                        alt="{{avEmployee.field_first_name[0].value}} {{avEmployee.field_last_name[0].value}}"/>

                  </span>
            <span class="user-name">
              {{avEmployee.field_first_name[0].value}} {{avEmployee.field_last_name[0].value}}
            </span>

        </a>

      </div>
    </article>
  </div>
</div>