<!doctype html><!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]--><!--[if IE 9]>
<html class="no-js ie9"> <![endif]--><!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head lang="en">
  <meta charset="utf-8">
  <title>Propeople Intranet</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" href="favicon.png">
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body ng-app="d8intranetApp" ng-controller="pageLoad"
    ng-class="isDark ? 'dark' : 'light'">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser.
  Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve
  your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="overlay" ng-if="messageRequest" ng-cloak>
  <div class="message">
    <div class="spinner" id="gradient"></div>
    <span>Sending data</span>
  </div>

</div>

<div class="global-wrapper">
  <div class="wrapper container">
    <!-- Site header-->
    <header role="banner" class="header group"></header>

    <!-- Site main container-->
    <main role="main" class="main-content">

      <aside class="sidebar" ng-controller="SidebarCtrl">
        <div class="menu-desktop">
          <a class="logo" href="#main">
            <img src="images/logo-blue.png" alt="FFW"/>
          </a>
          <a class="user-pic" ng-href="#user/5"
              ng-click="setActiveMenuItem('#user/5')"
              ng-class="{'active': '#user/5' == menuStates.activeItem}">
            <img src="../images/employees/alex.jpg"
                ng-src="../images/employees/alex.jpg" alt="Alexander Mikhutkin">
          </a>

          <div ng-controller="checkIn">
            <form ng-submit="checkIn()">
              <button type="submit" class="checkin" data-checked="false">Check
                in
              </button>
            </form>
          </div>

          <ul>
            <li ng-repeat="menuItem in menuItemsList"
                ui-route="{{menuItem.url}}"
                ng-class="{'active': menuItem.url == menuStates.activeItem}"
                ng-click="setActiveMenuItem(menuItem.url, false)">
              <a class="sidebar-icon" ng-href="{{menuItem.url}}">
                <span class="{{menuItem.icon}}-icon"></span>
            <span class="menu-item-title">
              {{menuItem.title}}
            </span>
              </a>
            </li>
          </ul>
          <a class="sidebar-icon roll-icon" roll-menu>
            <span class="roll-menu-icon"></span>
          </a>
        </div>

      </aside>

      <!-- Page contentainer -->
      <div class="page-content-container">
        <!--<div class="page-container">-->

        <!-- Page headline -->
        <div class="page-header page-container group"
            ng-controller="SidebarCtrl">

          <div class="current-date-wrapper" ng-cloak>
            <div class="theme-switcher" ng-click="setCookieData()">
              <div class="theme-switcher-btn"></div>
            </div>

            <div class="date" ng-controller="GetDateCtrl">
              {{date | date:'EEE d MMM y'}}
            </div>

          </div>

          <a class="bt-menu-trigger" ng-click="menuIsOpen=!menuIsOpen"
              ng-class="menuIsOpen ? 'menu-close' : ' ' "><span>Menu</span></a>

          <nav id="mobile-menu" class="mobile-menu"
              ng-class="menuIsOpen ? 'mobile-menu-open' : ' ' ">

            <ul class="menu-mobile">
              <li class="user-data">
                <a class="user-pic" ng-href="#user/5"
                    ng-click="setActiveMenuItem('#user/5')">
                  <img src="../images/employees/alex.jpg"
                      ng-src="../images/employees/alex.jpg"
                      alt="Alexander Mikhutkin">
                </a>
              </li>

              <li>
                <div ng-controller="checkIn">
                  <form ng-submit="checkIn()">
                    <button type="submit" class="checkin" data-checked="false">
                      Check in
                    </button>
                  </form>
                </div>
              </li>
              <li ng-repeat="menuItem in menuItemsList"
                  ng-class="{'active': menuItem.url == menuStates.activeItem}"
                  ng-click="setActiveMenuItem(menuItem.url, false)">
                <a class="sidebar-icon" ng-href="{{menuItem.url}}">
                  {{menuItem.title}}
                </a>
              </li>
            </ul>
            <div class="bt-overlay" ng-click="menuIsOpen=!menuIsOpen"></div>
          </nav>


        </div>

        <!-- Page content -->
        <!--<div ng-view ng-animate="animate"></div>-->
        <div class="view-animate-container">
          <div ng-view class="view-animate"></div>
        </div>

        <!--</div>-->
      </div>

    </main>
  </div>

</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  !function (A, n, g, u, l, a, r) {
    A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
      (A[l].q = A[l].q || []).push(arguments)
    }, A[l].l = +new Date, a = n.createElement(g),
        r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
  }(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="scripts/vendor/chosen.jquery.min.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script
    src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/angular-cookies/angular-cookies.js"></script>
<script src="../bower_components/angular-resource/angular-resource.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="../bower_components/angular-touch/angular-touch.js"></script>
<script src="../bower_components/angular-ui/build/angular-ui.js"></script>
<script
    src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->

<script src="scripts/app.js"></script>
<script src="scripts/services/getJsons.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/sidebar.js"></script>
<script src="scripts/controllers/employees.js"></script>
<script src="scripts/controllers/vacation.js"></script>
<script src="scripts/directives/sidebar.js"></script>
<script src="scripts/filters/usersFilters.js"></script>
<script src="scripts/controllers/user.js"></script>
<!-- endbuild -->
</body>
</html>
