
// Tabs
// -----------------------------------------------------------------------------
.employees-tabs {
  @extend %group;
  @include font-size(24);
  color: $tabs-color;
  font-family: $fonts-sans-light;
  margin-bottom: 15px;

  .item {
    float: left;

    @include susy-breakpoint(0 900px) {
      width: 50%;
      padding: 0;
    }
  }

  .link {
    border-bottom: 1px solid;
    display: block;
    padding: 20px 80px;
    text-align: center;
    cursor: pointer;
    position: relative;

    @include susy-breakpoint(0 900px) {
      padding: 20px 0;
    }


    &:hover,
    &.active {
      &:after {
        content: '';
        position: absolute;
        width: 17px;
        height: 17px;
        border: 1px solid;
        border-bottom: 0;
        border-left: 0;
        transform: rotate(-45deg) translate(-50%, 0);
        bottom: -3px;
        left: 50%;
        transition-duration: 0s;
      }
    }


    // Themes
    @each $theme, $map in $themes {
      .#{$theme} & {
        border-color: map-get($map, $header-divider);
        color: rgba(map-get($map, $tabs-color), .5);

        &:hover,
        &.active {
          color: map-get($map, $tabs-color);
        }

        &:after {
          border-color: map-get($map, $header-divider);
          background: map-get($map, $site-bg);
          transition-duration: 0s;
        }
      }
    }
  }
}
