// Table
// -----------------------------------------------------------------------------
.legend {
  margin: 2rem 0 3rem;
  text-align: right;
}

.leave-type {
  @include font-size(13);
  display: inline-block;
  margin-right: 20px;

  &:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #000;
    vertical-align: middle;
    margin-right: 10px;
  }
}

.flipper-container {
  perspective: 1000;
  transform-style: preserve-3d;
  cursor: default;

  &:hover {
    .front { transform: rotateY(180deg); }
    .back { transform: rotateY(0deg); }
  }
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  .front,
  .back {
    backface-visibility: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(0deg);
  }

  .back {
    transform: rotateY(-180deg);
  }
}

.year-table {
  margin: 3rem 0;
  table-layout: fixed;
  width: 100%;

  .user-dates {
    @extend %group;
    position: relative;
    border-bottom: 1px solid $table-row-bg;

    .back {
      background: transparent;
    }

    &:nth-child(odd) {
      // Themes
      @each $theme, $map in $themes {
        .#{$theme} & {
          background: map-get($map, $light-gray);
        }
      }
    }
  }

  .table-headline .user-dates {
    @each $theme, $map in $themes {
      .#{$theme} & {
        background: map-get($map, $site-bg);
      }
    }
  }

  .table-headline {
    display: none;

    .total {
      border-bottom: 0 !important;
    }

    @include susy-breakpoint(1280px) {
      @extend %group;
      display: block;

      .month {
        font-size: 14px;
      }

      .user-name {
        @include font-size(16);
      }

      .user-dates {
        @include font-size(18);
        font-family: $fonts-sans;
      }
    }
  }

  .user-name {
    width: 100%;
    font-family: $fonts-sans-light;

    @each $theme, $map in $themes {
      .#{$theme} & {
        background: map-get($map, $site-bg);
      }
    }

    @include susy-breakpoint(1280px) {
      @include span(3 of 16);
      float: none;
      display: inline-block;
      vertical-align: middle;
      min-height: 30px;
      padding: 10px;
    }
  }

  .dates {
    display: block;
    float: left;
    width: 100%;

    @include susy-breakpoint(1280px) {
      padding: 12px 0;
      display: block;
    }
  }

  .user-name {
    @include font-size(18);
    padding: 11px;

    @include susy-breakpoint(0 1279px) {
      @each $theme, $map in $themes {
        .#{$theme} & {
          background: map-get($map, $switcher-bg);
        }
      }
    }

    @include susy-breakpoint(1280px) {
      @include font-size(16);
      box-shadow: 2px 1px 1px rgba($black, 0.13);
    }
  }

  .months {
    @include font-size(0);

    @include susy-breakpoint(1280px) {
      @include font-size(15);
      @include span(13 of 16);
      @include last;
    }
  }

  .month {
    @include font-size(14);
    width: 33.33%;
    display: inline-block;
    position: relative;

    @include susy-breakpoint(0 1279px) {
      @each $theme, $map in $themes {
        .#{$theme} & {
          background: map-get($map, $block-divider);
        }
      }
    }

    .dates-numbers {
      @include font-size(15);
      cursor: default;
      color: #fff;
      width: 100%;
      white-space: nowrap;
    }

    .flipper {
      @include susy-breakpoint(0 1279px) {
        width: 50%;
        float: left;
        //        height: 30px;
        text-align: center;
      }
    }

    .dates {
      display: inline-block;

      @include susy-breakpoint(0 1279px) {
        padding: 9px 0;
      }
    }

    &:before {
      content: attr(data-month);
      text-transform: capitalize;
      padding: 8px;
      text-align: center;
      min-width: 50%;
      float: left;

      // Themes
      @each $theme, $map in $themes {
        .#{$theme} & {
          background: map-get($map, $block-bg);
        }
      }

      @include susy-breakpoint(1280px) {
        display: none;
      }
    }

    @include susy-breakpoint(1280px) {
      @include span(1 of 14);
      display: inline-block;
      min-height: 38px;
      vertical-align: middle;
      text-align: center;
      background: transparent;
    }
  }

  .total {
    @each $theme, $map in $themes {
      .#{$theme} & {
        background: map-get($map, $site-bg);
      }
    }

    &:before {
      display: none;
    }

    @include susy-breakpoint(1280px) {
      @include last;
      box-shadow: -2px 1px 1px rgba($black, 0.13);
    }

    @include susy-breakpoint(0 1279px) {
      position: absolute;
      right: 0px;
      top: 0px;
      width: auto;
      padding: 14px 10px 0;
      display: block;
      height: 40px;
      min-width: 80px;

      @each $theme, $map in $themes {
        .#{$theme} & {
          background: map-get($map, $switcher-bg);
        }
      }

      .dates-total {
        width: auto;
        float: none;
        padding: 0 0 0 10px;
      }

      &:before {
        display: inline;
        padding: 0;
        background: transparent !important;
      }
    }
  }


  @include susy-breakpoint(0 1279px) {
    .months {
      max-height: 0;
      overflow: hidden;
      transition: all ease-out .3s;

      @include susy-breakpoint(1280px) {
        height: auto;
        max-height: auto;
      }
    }

    .show-table-data {
      max-height: 200px;

      .total {
        @each $theme, $map in $themes {
          .#{$theme} & {
            color: #fff;
            background: map-get($map, $sidebar-bg);
          }
        }
      }
    }

    .active-table-data {
      @each $theme, $map in $themes {
        .#{$theme} & {
          color: #fff;
          background: map-get($map, $sidebar-bg);
        }
      }
    }
  }

}

.paid-leave,
.pre-holiday,
.unpaid-leave,
.not-approved {
  color: #fff;
}

.pre-holiday,
.dates-numbers .pre-holiday,
.pre-holiday-leave:before {
  background: #ff5722;
}

.paid-leave,
.dates-numbers .paid,
.approved-paid-leave:before {
  background: #4caf50;
}

.unpaid-leave,
.dates-numbers .unpaid,
.approved-unpaid-leave:before {
  background: #e91e63;
}

.not-approved { background: #b71c1c; }

.dates-numbers .paid,
.dates-numbers .unpaid,
.dates-numbers .pre-holiday {
  padding: 9px 10px;
}