// Tabs
// -----------------------------------------------------------------------------
.employees-tabs {
  @extend %group;
  @include font-size(14);
  font-family: $fonts-sans-light;
  margin-bottom: 3rem;
  background: #4a4a4a;

  .light & {
    background: #fff;
  }

  .item {
    float: left;
  }

  .link {
    display: block;
    padding: 15px 20px;
    text-align: center;
    cursor: pointer;
    position: relative;

    &:hover,
    &.active {
      &:after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        transform: rotate(-45deg) translate(-50%, 0);
        bottom: -3px;
        left: 50%;
        transition-duration: 0s;
      }
    }

    // Themes
    @each $theme, $map in $themes {
      .#{$theme} & {
        color: #fff;

        &:hover,
        &.active {
          background: map-get($map, $active-elements);
          color: #fff;
        }

        &:after {
          background: #37474F;
          transition-duration: 0s;

          .light & {
            background: #fff;
          }
        }
      }
    }
  }
}
