
.flipper-container {
  perspective: 1000;
  transform-style: preserve-3d;
  cursor: default;

  &:hover {
    .front { transform: rotateY(180deg); }
    .back { transform: rotateY(0deg); }
  }
}

.flipper {
  transition: .6s;
  transform-style: preserve-3d;

  .front,
  .back {
    backface-visibility: hidden;
    transition: .6s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(0deg);
  }

  .back {
    transform: rotateY(-180deg);
  }
}

// Legend
// -----------------------------------------------------------------------------
.legend {
  margin: 1rem 0 3rem;
  text-align: right;
  float: right;
}

.leave-type {
  @include font-size(13);
  text-align: left;
  display: block;
  clear: both;
  margin: 0 0 15px 0;

  @include susy-breakpoint(901px) {
    clear: none;
    display: inline-block;
    margin: 0 20px 0 0;
    text-align: right;
  }


  &:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #000;
    vertical-align: middle;
    margin-right: 10px;
  }
}

// Table
// -----------------------------------------------------------------------------

// Table header which have a bit different styles from global table data
// Showing only for desktop site version
.table-headline {
  display: none;

  .total {
    border-bottom: 0 !important;
  }

  .user-dates {
    background: #37474F;

    .light & {
      background: #fff;
    }
  }

  @include susy-breakpoint(1280px) {
    @extend %group;
    display: block;

    .month {
      font-size: 14px;
    }

    .user-name {
      @include font-size(16);
    }

    .user-dates {
      @include font-size(18);
      font-family: $fonts-sans;
    }
  }
}

// Table data styles
.year-table {
  margin: 3rem 0;
  table-layout: fixed;
  width: 100%;

  // Row for each user
  .user-dates {
    @extend %group;
    position: relative;
    border-bottom: 1px solid $table-row-bg;

    &:nth-child(odd) {
      // Themes
      @each $theme, $map in $themes {
        .#{$theme} & {
          background: map-get($map, $light-gray);
        }
      }
    }
  }

  // Name of User styles
  .user-name {
    @include font-size(18);
    background: #37474F;

    .light & {
      background: #fff;
    }

    padding: 11px;
    width: 100%;
    font-family: $fonts-sans-light;
    cursor: pointer;

    // Desktop breakpoint
    @include susy-breakpoint(1280px) {
      @include font-size(16);
      @include span(3 of 16);
      box-shadow: 2px 1px 1px rgba($black, .13);
      float: none;
      display: inline-block;
      vertical-align: middle;
      min-height: 39px;
      padding: 10px;
      cursor: default;
    }
  }

  // Months list container
  .months {
    @include font-size(0);

    @include susy-breakpoint(1280px) {
      @include font-size(15);
      @include span(13 of 16);
      @include last;
      height: auto;
      max-height: auto;
    }

  }

  // Each month cell styles
  .month {
    width: 50%;
    display: inline-block;
    position: relative;
    z-index: 3;

    @include susy-breakpoint(640px) {
      width: 33.33%;
    }

    @include susy-breakpoint(0 1279px) {
      @each $theme, $map in $themes {
        .#{$theme} & {
          background: map-get($map, $block-divider);
        }
      }
    }

    @include susy-breakpoint(1280px) {
      @include span(1 of 14);
      @include font-size(14);
      display: inline-block;
      min-height: 39px;
      vertical-align: middle;
      text-align: center;
      background: transparent;
      //      width: 100%;
    }
  }

  .dates-numbers {
    width: 50%;
    white-space: nowrap;
    user-select: none;
    float: none;
    transition: all ease-out .1s;

    &:hover,
    &.selectedDate {
      cursor: pointer;
      @each $theme, $map in $themes {
        .#{$theme} & {
          background: map-get($map, $sidebar-bg);
          color: #fff;
        }
      }
    }

    @include susy-breakpoint(1280px) {
      width: 100%;
      @include font-size(15);
    }
  }

  // Date field in each month in table
  .dates {
    @include font-size(0);
    display: inline-block;
    width: 50%;
    text-align: center;
    transition: all ease-out .3s;

    @include susy-breakpoint(1280px) {
      @include font-size(14);
      padding: 12px 0;
      display: block;
      height: 39px;
      width: 100%;
    }
  }

  // Month name which showing on mobile devices only
  .month:before {
    @each $theme, $map in $themes {
      .#{$theme} & {
        background: map-get($map, $block-bg);
      }
    }

    @include font-size(0);
    max-height: 0;
    content: attr(data-month);
    text-transform: capitalize;
    text-align: center;
    min-width: 50%;
    display: inline-block;
    transition: all ease-out .3s;

    @include susy-breakpoint(1280px) {
      display: none;
    }
  }

  // Total user dates in year
  .total {
    transition: none ease-out 0s;
    background: #37474F;

    .light & {
      background: #fff;
    }

    @include susy-breakpoint(1280px) {
      @include last;
      box-shadow: -2px 1px 1px rgba($black, .13);
    }

    @include susy-breakpoint(0 1279px) {
      position: absolute;
      right: 0;
      top: 0;
      width: auto;
      padding: 14px 10px 0;
      display: block;
      height: 40px;
      min-width: 80px;

      &:before,
      .dates-total {
        transition: none ease-out 0s;
        width: auto;
        float: none;
        padding: 0 0 0 10px;
        font-size: 14px;
      }

      &:before {
        display: inline;
        padding: 0;
        background: transparent !important;
      }
    }
  }




  @include susy-breakpoint(0 1279px) {
    // Add color to selected table item
    .active-table-data {
      @each $theme, $map in $themes {
        .#{$theme} & {
          color: #fff;
          background: map-get($map, $sidebar-bg);
        }
      }
    }

    // Slide down table data for current selected user
    .show-table-data {
      .dates,
      .month:before {
        max-height: 100px;
      }

      .month:before {
        padding: 10px;
        @include font-size(14);
      }

      .dates {
        @include font-size(14);
        padding: 9px 0;
      }

      .total {
        z-index: 1;

        &:before,
        .dates {
          padding: 0;
        }

        .dates {
          padding-left: 10px;
        }
      }
    }
  }
}

.dates-popup {
  @include font-size(14);
  position: absolute;
  bottom: 100%;
  padding: 4px;
  border-spacing: 5px;
  border-collapse: separate;
  margin-bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
  z-index: 10;

  @each $theme, $map in $themes {
    .#{$theme} & {
      background: map-get($map, $site-font-color);
    }
  }

  &::after {
    top: 100%;
    left: 50%;
    border: 8px solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    margin-left: -8px;

    @each $theme, $map in $themes {
      .#{$theme} & {
        border-top-color: map-get($map, $site-font-color);
      }
    }
  }

  .popup-label {
    color: #00001c;

    .light & {
      color: #ddd;
    }
  }
}

.no-state,
.paid-leave,
.pre-holiday,
.unpaid-leave,
.not-approved {
  color: #fff;
  padding: 5px;
  border-radius: 2px;
  display: table-cell;
  white-space: nowrap;

  &:last-child {
    margin-right: 0;
  }
}

.popup-label {
  display: table-cell;
}

.pre-holiday,
.dates-numbers .pre-holiday,
.pre-holiday-leave:before {
  background: #ff5722;
}

.paid-leave,
.dates-numbers .paid,
.approved-paid-leave:before {
  background: #4caf50;
}

.unpaid-leave,
.dates-numbers .unpaid,
.approved-unpaid-leave:before {
  background: #e91e63;
}

.journey-state { background: #286b90; }

.sick-state { background: #5f7f15; }

.sick-remote { background: #139f71; }

.state-work-off { background: #ff8063; }

.not-approved { background: #b71c1c; }

.dates-numbers .paid,
.dates-numbers .unpaid,
.dates-numbers .pre-holiday {
  padding: 9px 10px;
}
