<!doctype html>
<html ng-app="d8intranetApp">
<head lang="en">
  <meta charset="utf-8">
  <title>Propeople Intranet</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" href="favicon.png">
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body ng-controller="cookieController" ng-class="isDark ? 'dark' : 'light'">

<!-- Add your site or application content here -->
<!--<div class="overlay" ng-if="messageRequest" ng-cloak>-->
<!--<div class="message">-->
<!--<div class="spinner" id="gradient"></div>-->
<!--<span>Sending data</span>-->
<!--</div>-->
<!--</div>-->

<div ng-cloak ng-controller="modalController" id="modal-wrapper"></div>

<div class="preloader" ng-hide="dataLoaded">
  <span></span>
  <span></span>
</div>

<div class="global-wrapper" ng-cloack ng-show="dataLoaded">
  <div class="wrapper container">
    <!-- Site header-->
    <header role="banner" class="header group"></header>

    <!-- Site main container-->
    <main role="main" class="main-content">

      <!-- Sidebar -->
      <aside class="sidebar" ng-controller="sidebarController" ng-cloak>

        <div class="menu-desktop">
          <a class="logo" href="#main">
            <img src="images/logo-blue.png" alt="FFW"/>
          </a>

          <div ng-cloak ng-if="!logged">
            <span class="user-pic" >
            <img src="../images/anonymus.png" alt="anonymus"/>
          </span>
            <a class="user-login" href="admin/user/login">
              Login
            </a>
          </div>

          <a class="user-pic" ng-href="#user/{{currentUserId}}"
              ng-click="setActiveMenuItem('#user/{{currentUserId}}')"
              ng-class="{'active': '#user/{{currentUserId}}' == menuStates.activeItem}"
              ng-if="logged">
            <img src="../images/employees/alex.jpg"
                ng-src="../images/employees/alex.jpg" alt="Alexander Mikhutkin">
          </a>

          <div ng-controller="CheckInController" ng-if="logged">
            <form ng-submit="checkIn()">
              <button insert-modal type="submit" class="checkin"
                  data-checked="false">Check
                in
              </button>
            </form>
          </div>

          <ul>
            <li ng-repeat="menuItem in menuItemsList"
                ui-route="{{menuItem.url}}"
                ng-class="{'active': menuItem.url == menuStates.activeItem}"
                ng-click="setActiveMenuItem(menuItem.url, false)">
              <a class="sidebar-icon" ng-href="{{menuItem.url}}">
                <span class="{{menuItem.icon}}-icon"></span>
            <span class="menu-item-title">
              {{menuItem.title}}
            </span>
              </a>
            </li>
          </ul>
          <a class="sidebar-icon roll-icon" roll-menu>
            <span class="roll-menu-icon"></span>
          </a>
        </div>

      </aside>

      <!-- Page contentainer -->
      <div class="page-content-container">
        <!--<div class="page-container">-->

        <!-- Page headline -->
        <div class="page-header page-container group">
          <div class="current-date-wrapper" ng-cloak>
            <div class="theme-switcher" ng-click="setCookieData()">
              <div class="theme-switcher-btn"></div>
            </div>

            <div class="date" ng-controller="GetDateCtrl">
              {{date | date:'EEE d MMM y'}} {{singleUser}}
            </div>

          </div>

          <a class="bt-menu-trigger" ng-click="menuIsOpen=!menuIsOpen"
              ng-class="menuIsOpen ? 'menu-close' : ' ' "><span>Menu</span></a>

          <nav id="mobile-menu" class="mobile-menu"
              ng-class="menuIsOpen ? 'mobile-menu-open' : ' ' ">

            <ul class="menu-mobile" ng-controller="sidebarController">
              <li class="user-data">
                <a class="user-pic" ng-href="#user/5"
                    ng-click="setActiveMenuItem('#user/5')">
                  <img src="../images/employees/alex.jpg"
                      ng-src="../images/employees/alex.jpg"
                      alt="Alexander Mikhutkin">
                </a>
              </li>

              <li>
                <div ng-controller="CheckInController">
                  <form ng-submit="checkIn()">
                    <button type="submit" class="checkin" data-checked="false">
                      Check in
                    </button>
                  </form>
                </div>
              </li>
              <li ng-repeat="menuItem in menuItemsList"
                  ng-class="{'active': menuItem.url == menuStates.activeItem}"
                  ng-click="setActiveMenuItem(menuItem.url, false)">
                <a class="sidebar-icon" ng-href="{{menuItem.url}}">
                  {{menuItem.title}}
                </a>
              </li>
            </ul>
            <div class="bt-overlay" ng-click="menuIsOpen=!menuIsOpen"></div>
          </nav>

        </div>

        <!-- Page content -->
        <!--<div ng-view ng-animate="animate"></div>-->
        <div class="view-animate-container">
          <div ng-view class="view-animate"></div>
        </div>

        <!--</div>-->
      </div>

    </main>
  </div>

</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<!--<script>-->
<!--!function (A, n, g, u, l, a, r) {-->
<!--A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {-->
<!--(A[l].q = A[l].q || []).push(arguments)-->
<!--}, A[l].l = +new Date, a = n.createElement(g),-->
<!--r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)-->
<!--}(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');-->

<!--ga('create', 'UA-XXXXX-X');-->
<!--ga('send', 'pageview');-->
<!--</script>-->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="scripts/vendor/chosen.jquery.min.js"></script>
<script src="libs/angular/angular.js"></script>
<script src="libs/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="libs/angular-animate/angular-animate.js"></script>
<script src="libs/angular-cookies/angular-cookies.js"></script>
<script src="libs/angular-resource/angular-resource.js"></script>
<script src="libs/angular-route/angular-route.js"></script>
<script src="libs/angular-sanitize/angular-sanitize.js"></script>
<script src="libs/angular-touch/angular-touch.js"></script>
<script src="libs/angular-ui/build/angular-ui.js"></script>
<script src="libs/angular-ui-router/release/angular-ui-router.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->

<script src="scripts/app.js"></script>

<script src="scripts/services/getUsers.js"></script>
<script src="scripts/services/formatUser.js"></script>
<script src="scripts/services/getState.js"></script>

<script src="scripts/assets/cookieController.js"></script>
<script src="scripts/assets/sidebarController.js"></script>
<script src="scripts/assets/modalController.js"></script>

<script src="scripts/common/directives.js"></script>
<script src="scripts/common/filters.js"></script>

<script src="scripts/dashboard/dashboardController.js"></script>
<script src="scripts/statistic/statisticController.js"></script>

<script src="scripts/employees/employeesTabsController.js"></script>
<script src="scripts/employees/teamsController.js"></script>
<script src="scripts/employees/peopleListController.js"></script>

<script src="scripts/user/checkInController.js"></script>
<script src="scripts/user/singleUserController.js"></script>
<!-- endbuild -->
</body>
</html>
