// -----------------------------------------------------------------------------
// Employees

.user-pic img {
  transition: all .2s ease-out;
}

.member a,
.user-info a {
  display: block;

  // Themes
  @each $theme, $map in $themes {
    .#{$theme} & {
      color: map-get($map, $site-font-color);
    }
  }
  
  .user-pic {
    border-radius: 100%;
  }

  &:hover img {
    transform: scale(.85);
  }
}
// Top leads
// -----------------------------------------------------------------------------
.leads,
.managers {
  border-top: 0;
  margin-bottom: -1px;
  padding-bottom: 50px;
  text-align: center;
  border-bottom: 1px solid;

  // Themes
  @each $theme, $map in $themes {
    .#{$theme} & {
      border-color: map-get($map, $header-divider);
    }
  }

  .user-name {
    @include font-size(15);

    @include susy-breakpoint(1280px) {
      @include font-size(18);
    }
  }

  .member {
    @include span(5 of 20);
    float: none;
    display: inline-block;

    &:last-child {
      margin-right: 0;
    }

    @include susy-breakpoint(1024px 1600px) {
      text-align: left;
    }
  }
}

.managers {
  border-bottom: 0;
}


// All teams wrapper
// -----------------------------------------------------------------------------
// Team title
.team-title {
  @include font-size(20);
  margin-top: 54px;
  line-height: 1;
  text-align: center;

  @include susy-breakpoint(1280px) {
    @include font-size(22);
  }

  @include susy-breakpoint(1024px 1600px) {
    margin-top: 0;
  }
}

// Teams styles and layouts
.teams {
  font-size: 0;
  margin-bottom: 100px;

  @include susy-breakpoint(1600px) {
    text-align: center;
  }

  // Team member styles/layout
  .member {
    @include span(5 of 10);
    @include font-size(13);
    float: none;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin-top: 50px;
    line-height: 1.3em;

    &:nth-child(4n) {
      margin-right: 0;
    }

    @include susy-breakpoint(1280px) {
      @include font-size(15);
    }

    @include susy-breakpoint(320px 1600px) {
      margin-top: 40px;

      &:nth-child(2n) {
        margin-right: 0;
      }

      // User data
      figcaption {
        display: inline-block;
        vertical-align: middle;
        max-width: 50%;
      }
    }

    @include susy-breakpoint(1600px) {
      @include span(2 of 9);
      float: none;
      text-align: center;
    }
  }

  .user-pic {
    display: inline-block;
    margin-bottom: 10px;

    @include susy-breakpoint(768px 1279px) {
      width: 80px;
      height: 80px;
    }

    @include susy-breakpoint(640px 1600px) {
      vertical-align: middle;
      margin: 0 10px 0 0;
    }
  }

  .description {
    @include font-size(13);
    font-family: $fonts-sans-light;

    @include susy-breakpoint(1280px) {
      @include font-size(15);
    }
  }

}

// Single Team list styles
// -----------------------------------------------------------------------------
.team {
  @include span(20 of 20);
  @extend %group;
  display: inline-block;
  float: none !important;
  vertical-align: top;
  border-top: 1px solid $header-divider;
  margin-bottom: 50px;
  font-size: 0;
  line-height: 0;

  // Themes
  @each $theme, $map in $themes {
    .#{$theme} & {
      border-color: map-get($map, $header-divider);
    }
  }

  @include susy-breakpoint(1024px 1601px) {
    @include span(10 of 20);
    padding: 20px;
    margin: 0;
    border: 0;
    width: 50%;

    &:nth-child(2n+1),
    &:nth-child(-n+3) {
      // Themes
      @each $theme, $map in $themes {
        .#{$theme} & {
          border-right: 1px solid map-get($map, $header-divider);
        }
      }
    }

    &:first-child {
      background: transparent;
    }

    &:nth-child(even) {
      margin-right: 0;
    }
  }

  @include susy-breakpoint(1601px) {
    @include span(9 of 20);

    // Add padding-left to each 1-st 3-rd etc.
    // Add margin from the right (1 column width)
    &:nth-child(odd) {
      @include prefix(1);
      @include post(1);
    }

    // Add padding-right to each 2-nd 4-th etc.
    &:nth-child(even) {
      @include suffix(1);
      margin-right: 0;
    }
  }

  // Small member layout
  .member {
    @include span(5 of 10);
    float: none;

    @include susy-breakpoint(1601px) {
      @include span(2 of 8);
      float: none;
    }
  }
}

// Team lead a bit bigger than team member
.team-leads {
  .member {
    @include susy-breakpoint(1600px) {
      @include span(3 of 8);
      float: none;
    }
  }
}
