//------------------------------------------------------------------------------
// Images
.font-icon {
  font-family: fontello;
}

.mail-icon {
  &::before {
    @include font-size(20);
    content: '\e80e';
  }
}

.phone-icon {
  &::before {
    @include font-size(25);
    content: '\e80f';
  }
}

.skype-icon {
  &::before {
    @include font-size(22);
    content: '\e810';
  }
}

.people-list {
  [class$='-icon'] {
    display: inline-block;
    vertical-align: middle;
  }
}

.gplus-icon {
  &::before {
    @include font-size(30);
    content: '\e801';
  }
}

.drupal-icon {
  &::before {
    @include font-size(30);
    content: '\e802';
  }
}

.facebook-icon {
  &::before {
    @include font-size(30);
    content: '\e803';
  }
}

.linkedin-icon {
  &::before {
    @include font-size(30);
    content: '\e804';
  }
}

.twitter-icon {
  &::before {
    @include font-size(30);
    content: '\e805';
  }
}

.icon-arrows-cw {
  &::before {
    @include font-size(14);
    content: '\e812';
  }
}

.github-icon {
  &::before {
    @include font-size(33);
    content: '\e813';
  }
}

.edit-profile-icon {
  &::before {
    @include font-size(18);
    content: '\e81c';
    margin-top: 10px;
    display: block;
  }
}

