// -----------------------------------------------------------------------------
// Front page

.no-logged-users {
  @include font-size(20);
  color: #5C6B71;

   .light & {
     color: #9E9E9E;
   }
}

.available-users,
.checked-in-users-list {
  margin: 4rem 0;

  h2 {
    @include font-size(36);
    margin-bottom: 2rem;
  }

  .user-pic {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
}

.checked-in-users-list {
  ul {
    clear: both;
  }
}

.refresh-list {
  overflow: hidden;
  float: right;
}

.refresh-title {
  @include font-size(14);
}

.update-checkin {
  display: inline-block;
  border: 1px solid transparent;
  cursor: pointer;
  background: #DE1B1B none repeat scroll 0% 0%;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  color: #fff;
  outline: none;

  &::before {
    @include font-size(14);
    line-height: 0;
    display: block;
    transform-origin: center;
  }
}

.checkin-progress::before {
  animation: rotating 1s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.av-user,
.checked-user {
  @include font-size(14);
  margin-bottom: .5rem;


  @include susy-breakpoint(580px) {
    display: inline-block;
    margin: 0 1rem 1rem 0;
    padding: .3rem;
  }
}

.checked-user {
  padding: 0.3rem;
  position: relative;
  background: #286b90;
  border-radius: 20px 5px 5px 20px;
  color: #fff;
  box-shadow: -2px 2px 0px #124663;
}

.check-in-time {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.available-users {
  padding-top: 3rem;
  position: relative;
  @extend %group;

  // Themes
  @each $theme, $map in $themes {
    .#{$theme} & {
      border-top: 1px solid map-get($map, $header-divider);
    }
  }

  .av-users-count {
    position: absolute;
    top: 20px;
    right: 0;
  }
}
