// -----------------------------------------------------------------------------
// Front page

.dashboard {
  h2 {
    @include font-size(36);
    margin-bottom: 2rem;
  }

  article {
    padding-bottom: 4rem;

    // Themes
    @each $theme, $map in $themes {
      .#{$theme} & {
        border-bottom: 1px solid map-get($map, $header-divider);
      }
    }
  }
}

.no-logged-users {
  @include font-size(20);
  color: #5c6b71;

  .light & {
    color: #9e9e9e;
  }
}

.available-users,
.checked-in-users-list {
  margin: 4rem 0;

  .user-pic {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
}

.checked-in-users-list {
  ul {
    clear: both;
  }
}

.refresh-list {
  overflow: hidden;
  float: right;
}

.refresh-title {
  @include font-size(14);
}

.update-checkin {
  display: inline-block;
  border: 1px solid transparent;
  cursor: pointer;
  background: #de1b1b none repeat scroll 0% 0%;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  color: #fff;
  outline: none;

  &::before {
    @include font-size(14);
    line-height: 0;
    display: block;
    transform-origin: center;
  }
}

.checkin-progress::before {
  animation: rotating 1s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.av-user,
.checked-user {
  @include font-size(13);
  margin-bottom: .5rem;

  @include susy-breakpoint(580px) {
    display: inline-block;
    margin: 0 .5rem .5rem 0;
    padding: .3rem;
  }
}

.checked-user {
  padding: .3rem;
  position: relative;
  border-radius: 20px 5px 5px 20px;
  font-weight: 400;

  &.away {
    box-shadow: -2px 2px 0 #a58828;
  }

  &.available {
    box-shadow: -2px 2px 0 #4e7a20;
  }
}

.check-in-time {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  color: $black;
}

.available-users {
  position: relative;
  @extend %group;

  .av-users-count {
    @include font-size(14);
    position: absolute;
    top: 20px;
    right: 0;
  }
}
