// -----------------------------------------------------------------------------
// Front page

.dashboard {
  h2 {
    @include font-size(36);
    margin-bottom: 2rem;
  }

  article {
    padding-bottom: 4rem;
    margin: 0 0 4rem;

    // Themes
    @each $theme, $map in $themes {
      .#{$theme} & {
        border-bottom: 1px solid map-get($map, $header-divider);
      }
    }
  }
}


// Today birth days block

.user-years {
  position: absolute;
  bottom: 45px;
  right: 27px;
  color: #37474f;
  font-weight: 600;
  background: url(../images/hp-bg.png) no-repeat 0 -282px;
  width: 60px;
  height: 60px;
  padding-top: 23px;
  z-index: 101;
}

.birthday-ribbon {
  background: url(../images/hp-bg.png) no-repeat 0 -220px;
  width: 250px;
  height: 65px;
  position: absolute;
  bottom: 8px;
  display: block;
  z-index: 100;
  left: 5px;
}

.today-birthdays {
  padding: 2rem 0;
  text-align: center;

  h3 {
    @include font-size(26);
    margin-bottom: 1rem;
    font-weight: 500;

    // Themes
    @each $theme, $map in $themes {
      .#{$theme} & {
        color: map-get($map, $site-font-color);
      }
    }
  }

  ul {
    padding: 2rem 0;
  }

  li {
    background: url(../images/hp-bg.png) no-repeat top center;
    max-width: 250px;
    display: inline-block;
    width: 100%;
    padding-top: 215px;
    position: relative;
    margin-right: 30px;

    .light & {
      background: url(../images/hp-bg-l.png) no-repeat top center;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .user-name,
  .user-pic {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .user-pic {
    top: 58px;
    width: 130px;
    height: 130px;
    margin-left: 2px;
  }

  .user-name {
    @include font-size(15);
    bottom: -15px;
    font-weight: 400;
    width: 100%;

    @each $theme, $map in $themes {
      .#{$theme} & {
        color: map-get($map, $site-font-color);
      }
    }

  }
}

// Not logged users list
.no-logged-users {
  @include font-size(20);
  color: #5c6b71;

  .light & {
    color: #9e9e9e;
  }
}

.available-users,
.checked-in-users-list {
  .user-pic {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
}

.checked-in-users-list {
  ul {
    clear: both;
  }
}

.refresh-list {
  overflow: hidden;
  float: right;
}

.refresh-title {
  @include font-size(14);
}

.update-checkin {
  display: inline-block;
  border: 1px solid transparent;
  cursor: pointer;
  background: #de1b1b none repeat scroll 0% 0%;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  color: #fff;
  outline: none;

  &::before {
    @include font-size(14);
    line-height: 0;
    display: block;
    transform-origin: center;
  }
}

.checkin-progress::before {
  animation: rotating 1s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.av-user,
.checked-user {
  @include font-size(13);
  margin-bottom: .5rem;

  @include susy-breakpoint(580px) {
    display: inline-block;
    margin: 0 .5rem .5rem 0;
    padding: .3rem;
  }
}

.checked-user {
  padding: .3rem;
  position: relative;
  border-radius: 20px 5px 5px 20px;
  font-weight: 400;

  &.away {
    box-shadow: -2px 2px 0 #a58828;
  }

  &.available {
    box-shadow: -2px 2px 0 #4e7a20;
  }
}

.check-in-time {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  color: $black;
}

.available-users {
  position: relative;
  @extend %group;

  .av-users-count {
    @include font-size(14);
    position: absolute;
    top: 20px;
    right: 0;
  }
}



.users-birthdays {
  li {
    display: inline-block;
    margin: 0 span(2) span(2) 0;

  }

  .user-pic,
  .user-name {
    display: inline-block;
    vertical-align: middle;
  }

  .user-pic {
    @include font-size(12);
    width: 60px;
    height: 60px;
    margin-right: 20px;
  }

  .user-name {
    @include font-size(18);
  }
}


