// -----------------------------------------------------------------------------
// User page
.user-page {
  margin-bottom: 150px;

  h1 {
    @include font-size(48);
    margin: 4rem 0;
  }

  .page-content {
    @extend %group;
    position: relative;
  }
}

.page-bg {
  min-height: 500px;
  background: url(../images/user-page-bg-blue.jpg) no-repeat;
  position: relative;

  .light & {
    background: url(../images/user-page-bg-light.jpg) no-repeat;
  }
}

.welcome-block {
  // Themes
  color: #fff;

  .light & {
    color: #000;
  }

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  img {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    margin-bottom: 20px;
  }

  .name {
    @include font-size(24);
    margin-bottom: 10px;
  }

  .position {
    @include font-size(18);
  }
}

.user-info {
  margin-bottom: 4rem;

  @include susy-breakpoint(1280px) {
    @include span(13 of 19);
  }
}

.user-social-data {
  clear: both;
  text-align: center;
  margin-bottom: 3rem;

  @include susy-breakpoint(1280px) {
    @include span(7 of 19);
    position: absolute;
    right: 0;
    top: 5.7rem;
    text-align: right;
  }

  h3 {
    @include font-size(30);
    font-family: $fonts-sans-light;
    margin: 2rem 0;
  }

  a {
    padding: 10px 15px;
    min-width: 50px;
    border-radius: 4px;
    display: block;
    text-align: center;
    transition: color .2s ease-out;
  }
}

.user-data-group {
  @extend %group;
  margin-bottom: 20px;
}

.user-info-title {
  @include font-size(18);
  margin-right: 20px;
  line-height: 1.4;
  display: block;
  margin-bottom: 5px;

  @include susy-breakpoint(768px) {
    font-family: $fonts-sans-light;
    float: left;
    min-width: 125px;
    margin-bottom: 0;
  }

  @include susy-breakpoint(1280px) {
    @include font-size(20);
  }
}

.user-info-value {
  @include font-size(17);
  font-family: $fonts-sans-light;
  line-height: 1.2;

  @include susy-breakpoint(1280px) {
    @include font-size(26);
    overflow: hidden;
  }
}

.social-list li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1rem;
}

.more-come-soon {
  @include font-size(40);
  clear: both;
  text-align: center;
  color: #000;
  opacity: .3;
  margin: 5rem 0;
}

// My holidays
.my-holidays {
  // Themes
  @each $theme, $map in $themes {
    .#{$theme} & {
      border-top: 1px solid map-get($map, $header-divider);
    }
  }
}

.user-statistic {
  text-align: center;
}

.holiday-block {
  @include span(18);
  @include pre(1);
  padding-top: span(18);

  @each $theme, $map in $themes {
    .#{$theme} & {
      background: map-get($map, $block-bg);
      box-shadow: 0 3px 0 map-get($map, $block-divider);
    }
  }

  border-radius: 100%;
  position: relative;
  font-family: $fonts-sans-light;

  float: none;
  margin: 0 auto 3rem;

  @include susy-breakpoint(640px) {
    @include span(12);
    padding-top: span(12);
    float: none;
    margin: 0 auto 3rem;
  }

  @include susy-breakpoint(640px) {
    @include span(11);
    padding-top: span(11);
    float: none;
    display: inline-block;
    margin: 0 1rem 3rem 0;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @include susy-breakpoint(769px) {
    @include span(6);
    padding-top: span(6);
    float: none;
    display: inline-block;
    margin: 0 1rem 3rem 0;

    &:nth-child(2n) {
      margin-right: 1rem;
    }

  }

  @include susy-breakpoint(1280px) {
    @include span(4);
    padding-top: span(4);
  }
}

.holiday-info-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.holiday-title {
  margin-bottom: 10px;
}

.days-count {
  @include font-size(40);

  span {
    @include font-size(25);
  }
}

.vacation-left {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  overflow: hidden;
  border-radius: 100%;
}

.vacation-left-progress {
  background: #5999bb;
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
}

.vacation-days-left {
  @include font-size(16);
  border-bottom: 1px solid #5999bb;
  position: absolute;
  left: -50px;
  margin-bottom: -1px;
  bottom: 15px;
  z-index: 1;
  font-family: $fonts-sans;
  font-weight: 500;
  background: rgb(242, 246, 89);
  padding: 5px 10px;
}
