<div type="text/ng-template" id="templates/teams.html" class="teams"
     ng-controller="teamsController">

  <div class="container group">
    <!--<div class="more-come-soon">-->
    <!--Section in development...-->
    <!--</div>-->

    <!--<div style="font-size: 15px; line-height: 1.4;"> {{regularTeams}} </div>-->

    <div class="team-list" ng-repeat="team in teams | orderBy:'-weight'" ng-class="'{{team.team_type}}'">
      <h2 class="team-title">{{team.team_title}}</h2>

      <div class="container">
        <div class="member" ng-repeat="member in team.members | orderBy:'field_position' track by $index">
          <a ng-href="#user/{{member.uid}}">
            <span class="user-pic">
            <img ng-src="{{member.field_image}}"
                 err-SRC="images/anonymus.png"
                 alt="{{member.field_first_name[0].value}}
            {{member.field_last_name[0].value}}"/>
            </span>

            <h3 class="user-name">
              {{member.field_first_name}}
              {{member.field_last_name}}
            </h3>

            <p class="description">{{member.field_position}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>