<div class="table-data">
  <div class="user-dates"
       ng-repeat="user in users | orderBy:'field_last_name[0].value' | teamsOnly:filterBy.selectedOption">
    <div class="user-name" show-table-data>
      <a ng-href="#user/{{user.uid[0].value}}">
        {{user.field_last_name[0].value}}
        {{user.field_first_name[0].value}}
      </a>
    </div>

    <div class="months">
      <div class="month"

           ng-click="date.showDetailsWorkOff = !date.showDetailsWorkOff"
           data-month="{{date.monthName}}"
           ng-repeat="date in user.calendarYears[yearFilter]">

        <div class="dates-popup" ng-class="{hidden: !date.showDetailsWorkOff}"
             ng-if="date.workOffDays.multipleDates">
          <span class="popup-label">Dates:</span>
                <span class="no-state state-work-off"
                      ng-repeat="dates in date.workOffDays.multipleDates">
                    {{dates.date}}
                </span>

                <span class="dates" ng-if="!date.workOffDays.multipleDates">
                  {{date.workOffDays.daysRange}}
                </span>
        </div>


              <span class="dates dates-numbers"
                    ng-class="{selectedDate: date.showDetailsWorkOff}"
                    ng-if="date.workOffDays.totalMonthDays">
                {{date.workOffDays.totalMonthDays}}
              </span>
      </div>

      <div class="month total" data-month="Total:">

        <span class="dates dates-total">{{user.timeRanges[yearFilter].totalWorkOff.totalDaysYear}}</span>
      </div>
    </div>
  </div>
</div>
