<div type="text/ng-template" id="views/people.html">
  <!-- Leads container -->
  <div class="view-animate-container">

    <div class="container group table-data">

      <select chosen ng-model='teamFilter.selectedOption' name="Group filter"
          id="teamFilter"
          ng-options="option.value as option.team_name for option in teams">
      </select>

      <ul class="legend">
        <li class="leave-type pre-holiday-leave">Pre-holiday</li>
        <li class="leave-type approved-paid-leave">Paid leave</li>
        <li class="leave-type approved-unpaid-leave"> Unpaid leave</li>
      </ul>

      <div class="year-table">
        <div class="table-headline">
          <div class="user-dates">
            <div class="user-name">Employee</div>
            <div class="months">
              <div class="month jan"><span class="dates">Jan</span></div>
              <div class="month feb"><span class="dates">Feb</span></div>
              <div class="month mar"><span class="dates">Mar</span></div>
              <div class="month apr"><span class="dates">Apr</span></div>
              <div class="month May"><span class="dates">May</span></div>
              <div class="month June"><span class="dates">June</span></div>
              <div class="month July"><span class="dates">July</span></div>
              <div class="month Aug"><span class="dates">Aug</span></div>
              <div class="month Sep"><span class="dates">Sep</span></div>
              <div class="month Oct"><span class="dates">Oct</span></div>
              <div class="month Nov"><span class="dates">Nov</span></div>
              <div class="month Dec"><span class="dates">Dec</span></div>
              <div class="month total"><span class="dates">Total</span></div>
            </div>
          </div>
        </div>

        <div class="user-dates"
            ng-repeat="user in users  | teamsOnly:filterBy.selectedOption">
          <div class="user-name" show-table-data>
            {{user.field_last_name[0].value}}
            {{user.field_first_name[0].value}}
          </div>

          <div class="months">
            <div class="month flipper-container"

                ng-click="date.showDetailsDayoff = !date.showDetailsDayoff"
                data-month="{{date.monthName}}"
                ng-repeat="date in user.calendarMonths">

              <div class="dates-popup"
                  ng-class="{hidden: !date.showDetailsDayoff}"
                  ng-if="date.dayOffDays.multipleDates">
                <span class="popup-label">Dates:</span>
                <span class="{{dates.statusDate}}"
                    ng-repeat="dates in date.dayOffDays.multipleDates">
                    {{dates.date}}
                </span>

                <span class="dates" ng-if="!date.dayOffDays.multipleDates">
                  {{date.dayOffDays.daysRange}}
                </span>
              </div>

              <span class="dates dates-numbers"
                  ng-class="{selectedDate: date.showDetailsDayoff}"
                  ng-if="date.dayOffDays.totalMonthDays">
                {{date.dayOffDays.totalMonthDays}}
              </span>
            </div>

            <div class="month total" data-month="Total:">

              <span class="dates dates-total">{{user.totalDaysOff}}</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>