<h1 class="page-title">Dashboard</h1>

<div class="page-content" ng-controller="MainCtrl">

  <article class="info-box" ng-repeat="user in users">
    <div class="info-box-headline">
      <!--<div class="counter">-->
        <!--{{(user |filter:query).length}} people-->
      <!--</div>-->
      <h1>{{user.field_firs_name[0].value}}</h1>
    </div>

    <div class="employee-columns">
      <div class="col">
        <div class="employee" >
          <a href="" class="employee-link">
                  <span class="user-pic">
                    <!--<img src="images/users/alyona.png" alt="Angolenko Alyona"/>-->
                  </span>
            <span class="user-name"> {{user.field_firs_name[0].value}}</span>
          </a>
        </div>
      </div>

    </div>
  </article>

  <!--<article class="info-box">-->
  <!--<div class="info-box-headline">-->
  <!--<h1>Day off</h1>-->
  <!--<span class="counter">-->
  <!--3 people-->
  <!--</span>-->

  <!--</div>-->

  <!--<div class="employee-columns">-->
  <!--<div class="col">-->
  <!--<div class="employee">-->
  <!--<a href="" class="employee-link">-->
  <!--<span class="user-pic">-->
  <!--<!--<img src="images/users/vlad.png" alt="Vasetskiy Vlad "/>-->
  <!--</span>-->
  <!--<span class="user-name">Vasetskiy Vlad </span>-->
  <!--</a>-->
  <!--</div>-->

  <!--<div class="employee">-->
  <!--<a href="" class="employee-link">-->
  <!--<span class="user-pic">-->
  <!--<!--<img src="images/users/anya.png" alt="Plakhuta Anna"/>-->
  <!--</span>-->
  <!--<span class="user-name">Plakhuta Anna</span>-->
  <!--</a>-->
  <!--</div>-->

  <!--<div class="employee">-->
  <!--<a href="" class="employee-link">-->
  <!--<span class="user-pic">-->
  <!--<!--<img src="images/users/dima_m.png" alt="Mitko Dmitriy"/>-->
  <!--</span>-->
  <!--<span class="user-name">Mitko Dmitriy</span>-->
  <!--</a>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div class="col">-->
  <!--<div class="employee">-->
  <!--<a href="" class="employee-link">-->
  <!--<span class="user-pic">-->
  <!--<!--<img src="images/users/pasha_d.png" alt="Druzhchenko Pavel"/>-->
  <!--</span>-->
  <!--<span class="user-name">Druzhchenko Pavel</span></a>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</article>-->

  <!--<article class="info-box">-->
  <!--<div class="info-box-headline">-->
  <!--<div class="counter">-->
  <!--2 people-->
  <!--</div>-->
  <!--<h1>Business trip</h1>-->
  <!--</div>-->

  <!--<div class="employee-columns">-->
  <!--<div class="col">-->
  <!--<div class="employee">-->
  <!--<a href="" class="employee-link">-->
  <!--<span class="user-pic">-->
  <!--<!--<img src="images/users/alyona.png" alt="Angolenko Alyona"/>-->
  <!--</span>-->
  <!--<span class="user-name">Angolenko Alyona</span>-->
  <!--</a>-->
  <!--</div>-->
  <!--<div class="employee">-->
  <!--<a href="" class="employee-link">-->
  <!--<span class="user-pic">-->
  <!--<!--<img src="images/users/pasha_l.png" alt="Loparev Pavel"/>-->
  <!--</span>-->
  <!--<span class="user-name">Loparev Pavel</span>-->
  <!--</a>-->
  <!--</div>-->
  <!--</div>-->

  <!--</div>-->
  <!--</article>-->
</div>