<h1 class="page-title">Dashboard</h1>

<div class="page-content" ng-controller="MainCtrl">

  <article class="info-box" ng-repeat="(key, user) in states">
    <div class="info-box-headline">
      <div class="counter">
        {{user.count}} people
      </div>
      <h1>{{key}}</h1>
    </div>

    <div class="employee-columns">
      <div class="col">
        <div class="employee"
            ng-repeat="(employee_key, employee) in user " ng-if='employee_key != "count"'>

          <a href="" class="employee-link">
                  <span class="user-pic">
                    <!--<img src="images/users/alyona.png" alt="Angolenko Alyona"/>-->
                  </span>
            <span class="user-name"> {{employee.field_firs_name[0].value}}</span>
            <span class="user-name"> {{employee.field_last_name[0].value}}</span>
          </a>
        </div>
      </div>
    </div>
  </article>

</div>