<div type="text/ng-template" id="views/people.html">
  <div class="teams-content">
  <div class="filter-field-container" >
    <input type="text" class="filter-field" id="filter-people" input-effects autofocus ng-model="query">
    <label class="filter-label" for="filter-people">Quick filter</label>
  </div>
  <ul class="people-list">
    <li class="item" ng-repeat="user in users | filter:query | orderBy: 'name' ">
      <div class="user-info">
        <div class="picture-box">
          <div class="picture">
            <img src="http://lorempixel.com/70/70/people/2/" alt="First Last name">
          </div>
        </div>
        <h3 class="name">
            <span class="table-cell-container">
              {{user.name}}
            </span>
        </h3>
      </div>
      <div class="position">
        <div class="table-cell-container">
          Backend developer
        </div>
      </div>
      <div class="mail">
        <div class="table-cell-container">
          <a href="mailto:bondarenko.segreii@propeople.com.ua" class="link">bondarenko.segreii@propeople.com.ua</a>
        </div>
      </div>
      <div class="phone">
        <div class="table-cell-container">
          +38 063 811 66 22
        </div>
      </div>
      <div class="skype">
        <div class="table-cell-container">
          <a href="skype:takemebabyonemoretime" class="link">takemebabyonemoretime</a>
        </div>
      </div>
    </li>
  </ul>

</div>
</div>