.view-employees-statistics .view-content thead tr th {
  text-align: center;
}

.view-employees-statistics .view-content tbody tr td .info {
  background: #0074bd;
  width: 14px;
  height: 14px;
}

  .view-employees-statistics .view-content tbody tr td .info:hover {
    background: #fff;
    width: auto;
    height: auto;
  }

    .view-employees-statistics .view-content tbody tr td .info > div {
      display: none;
    }

    .view-employees-statistics .view-content tbody tr td .info:hover > div {
      display: block;
    }
